header.ui.grid
  .ui.grid.container.flex
    .flex.fill
      .qu-breadcrumb
        a.qu-item
          i.search.icon.spaced
          | Test Directory
    .flex.align-middle-left
      .ui.right.action.left.icon.inverted.input.right-space
        i.search.icon
        input(type='text', placeholder='Search')
        .ui.primary.button Search
      .ui.floating.dropdown.labeled.icon.primary.button
        i.sort.icon
        span.text Sort
        .menu
          .item Alphabetical
          .item Chronological
          .item Popularity
main
  .ui.grid
    .ui.grid.container
      .row
        .four.wide.column
          .ui.secondary.vertical.pointing.menu
            a.active.item
              | All Categories
            a.item
              | Technology
            a.item
              | Business
            a.item
              | Arts and Sciences
            a.item
              | Communications

        .twelve.wide.column
          h2.ui.medium.header.inpage Showing search results for HTML5
          .ui.three.stackable.link.cards
            .ui.card(ng-repeat="i in [1,2,3,4]")
              .image.test-image
              .content
                .header HTML 5 Test
                .meta 2 days ago
                .description
                  p No description added.
              .extra.content
                i.check.icon
                | 121 have completed this test
