// Login Modal
.ui.small.modal
  //- i.close.icon
  .header Login to 6ix
  .content
    form.ui.form
      .field
        label E-mail Address
        input(type='email', name='email-address', placeholder='john@doe.com')
      .field
        label Password
        input(type='password', name='password', placeholder='Password')
      .field
        .ui.checkbox
          input(type='checkbox' tabindex='0')
          label I agree to the Terms and Conditions
      //- button.ui.button(type='submit') Submit
  .actions
    button.ui.button Cancel
    button.ui.button Submit

// Main Hero Section
.hero.flex.column-layout.align-middle-center
  h1 Create and Take Quizzes
  h3 Get started today creating or taking quizzes
  .button-row
    button.ui.primary.big.button Create a test now
    button.ui.inverted.basic.big.button Find out more

// Main Body Section
main
  .ui.padded.grid
    .ui.grid.container
      .row
        .eight.wide.column
          h2.ui.large.header
            i.feed.icon
            .content Recently Created Tests

          .ui.very.relaxed.list
            .item
              i.large.grey.book.middle.aligned.icon
              .content
                a.header Semantic-Org/Semantic-UI
                .description Created 10 mins ago
            .item
              i.large.grey.book.middle.aligned.icon
              .content
                a.header Semantic-Org/Semantic-UI
                .description Created 10 mins ago

          button.ui.blue.basic.button
            | View all recent tests
            i.arrow.long.right.icon

        .eight.wide.column
          h2.ui.large.header
            i.signal.icon
            .content Popular Tests

          .ui.very.relaxed.list
            .item
              i.large.grey.book.middle.aligned.icon
              .content
                a.header Semantic-Org/Semantic-UI
                .description Created 10 mins ago
            .item
              i.large.grey.book.middle.aligned.icon
              .content
                a.header Semantic-Org/Semantic-UI
                .description Created 10 mins ago

          button.ui.blue.basic.button
            | View all popular tests
            i.arrow.long.right.icon
