.ui.grid
  .ui.grid.container
    .row
      .sixteen.wide.column
        h2.ui.medium.header.inpage Tests you took recently
        table.ui.table.padded(ng-hide="true")
          thead
            tr
              th.twelve.wide Test Name
              th Score
              th 
          tbody
            tr
              td
                .ui.header.extended
                  .content
                    | HTML5 Proficiency Test
                    .sub.header
                      | Fabric Design
              td 400/500
              td
                a(href="#")
                  i.repeat.icon
                  | Retake Test
            tr
              td
                .ui.header.extended
                  .content
                    | Python for Beginners
                    .sub.header
                      | Fabric Design
              td 400/500
              td
                a(href="#")
                  i.repeat.icon
                  | Retake Test
        .ui.info.icon.message
          i.inbox.icon
          .content
            .header
              | You haven't taken any tests recently?
            p Start taking tests to show people how smart you are
