{% load staticfiles %}
html(lang="en" ng-app="SixApp")
  head
    base(href="/")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 6ix Quizzes
    link(rel='stylesheet', href="{% static 'webapp/lib/flxgrid/dist/css/flexgrid.min.css' %}")
    link(rel='stylesheet', href="{% static 'webapp/lib/semantic/dist/semantic.min.css' %}")
    link(rel='stylesheet', href="{% static 'dist/css/app.css' %}")

  body
    // Navigation bar
    nav
      .ui.padded.grid
        .ui.grid.container
          .row
            .sixteen.wide.column
              .ui.stackable.secondary.menu
                .item
                  .logo
                    img.ui.image(src="{% static 'webapp/img/logo.png' %}")
                .right.menu
                  a.item(ng-hide="true") About 6ix
                  a.item#activate-login(ng-hide="true") Login
                  a.item
                    .ui.inline.dropdown
                      .text
                        img.ui.avatar.image(src="{% static 'webapp/img/logo.png' %}")
                        | Logged in as Jenny Hess
                      i.dropdown.icon
                      .menu
                        .item Account
                        .item Your Profile
                        .item Logout
    ui-view
    footer &nbsp;
  script(src="{% static 'webapp/lib/jquery/dist/jquery.min.js' %}")
  script(src="{% static 'webapp/lib/semantic/dist/semantic.min.js' %}")
  script(src="{% static 'webapp/js/interaction.js' %}")
  script(src="{% static 'dist/js/bundled.js' %}")
